@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  /* user-select: none; */
  overscroll-behavior: none;
  margin: 0;
  box-sizing: border-box;
  /* visibility: hidden; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
